* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(26, 38, 38);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 38, 80);
    height: 50px;
}

.content__head {
    background-color: antiquewhite;
    padding: 10px;
}

.content__head__link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 2px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 38, 38);
    padding: 10% 10% 15% 10%;


}

.content-scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    gap: 15px;

}

.content__list {
    background-color: azure;
    background-image: url(./imagens/thumb01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    flex-basis: 280px;
    height: 300px;
    margin-bottom: 0px;
}

.content__title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    padding: 0 0 30px 0;

}


.content__image {
    border-radius: 50%;
    margin-top: 120px;
    width: 80px;

}


.content__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;

}

.content__buttom {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 13px;
    background-color: rgb(182, 195, 195);
    gap: 16px;

}

.content__details__name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: black;
}

.content__details__email {
    margin: 5px 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: grey;
}